<div [ngClass]="{ 'edit-content': cardMargin }" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
  <div class="card-box">
    <div *ngIf="title" class="box-title">
       {{ title }}
    </div>

    <form [formGroup]="form" (ngSubmit)="sendForms()">
      <mat-grid-list *ngIf="fields && fields.length"
        [cols]="numberOfColumns" [rowHeight]="customHeight ? customHeight : '100px'" [gutterSize]="customGutter ? customGutter : '15px'">

        <ng-container *ngIf="fields && fields.length">
          <div *ngFor="let element of fields">
            <mat-grid-tile *ngIf="true">

              <ng-container [ngSwitch]="true" [formGroupName]="element.extra ? 'extra' : 'standard'" >
                <!-- TEXT and TEXTAREA -->
                <ng-container *ngSwitchCase="(element.type === extraType.ShortText) || (element.type === extraType.LongText)">
                  <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label> {{ element.name }}</mat-label>
                    <input matInput [formControlName]="element.key"/>
                  </mat-form-field>
                </ng-container>

                <!-- DATE -->
                <ng-container *ngSwitchCase="element.type === extraType.Date">
                  <mat-form-field fxFlex="100" appearance="outline" [owlDateTimeTrigger]="dt">
                    <mat-label> {{ element.name }}</mat-label>
                    <ng-container *ngIf="element.range; else elseBlock">
                      <input [selectMode]="'range'" matInput [owlDateTime]="dt" readonly [formControlName]="element.key"/>
                    </ng-container>

                    <ng-template #elseBlock>
                      <input matInput [owlDateTime]="dt" readonly [formControlName]="element.key"/>
                    </ng-template>

                    <owl-date-time pickerType="both" #dt></owl-date-time>
                    <mat-icon matSuffix color="primary"> event_note </mat-icon>
                  </mat-form-field>

                </ng-container>

                <!-- NUMBER -->
                <ng-container *ngSwitchCase="element.type === extraType.Number">
                  <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label> {{ element.name }}</mat-label>
                    <input matInput [formControlName]="element.key"
                     type="number" [min]="element.min ? element.min : null" [max]="element.max ? element.max : null"/>
                  </mat-form-field>
                </ng-container>


                 <!-- TAGS AND CHOICE -->
                <ng-container *ngSwitchCase=" element.type === extraType.Choice || element.type === extraType.Options ">
                  <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label> {{ element.name }}</mat-label>
                    <mat-select  required [multiple]="element.type === extraType.Options"
                                [formControlName]="element.key">
                      <mat-option *ngFor="let option of element.options" [value]="option">
                        {{ (getType(option) === 'object' ? option.name : option) }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>

                <!-- BOOLEAN -->
                <ng-container *ngSwitchCase=" element.type === extraType.Boolean">
                  <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label> {{ element.name }}</mat-label>
                    <mat-select [formControlName]="element.key">
                      <mat-option *ngFor="let option of [true, false]" [value]="option">
                        {{ (option ? 'YES' : 'NO') }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>

              </ng-container>
            </mat-grid-tile>
          </div>
        </ng-container>

      </mat-grid-list>

      <ng-container *ngIf="showButtons">
        <div class="action-buttons" fxLayout="row" fxLayoutAlign="space-between">
          <ng-container *ngIf="cleanButton; else cancelButton">
            <button class="button-size red-color" mat-stroked-button (click)="form.reset()" type="button">
               {{ 'CLEAN'  }}
            </button>
          </ng-container>

          <ng-template #cancelButton>
            <div class="button-size">
              <button *ngIf="!loadingFlag" class="button-size red-color" mat-stroked-button (click)="switchViewing()" type="button">
                {{ 'CANCELAR'  }}
             </button>
            </div>
          </ng-template>

        <button *ngIf="!loadingButton; else loadingSubmitButton" [ngClass]="{
                     'button-size': true,
                     'disabled-button': !( form.valid && fields ),
                     'green-button': ( form.valid && fields )
                   }" mat-flat-button type="submit">
          {{ (submitButton ? submitButton : 'SALVAR')  }}
        </button>

        <ng-template #loadingSubmitButton>
          <button class="loadingButton" [ngClass]="{
                              'button-size': true,
                              'disabled-button': !( form.valid && fields ),
                              'green-button': ( form.valid && fields )
                            }" mat-flat-button type="submit"
                            [disabled]="loadingFlag">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
              <span>{{ (loadingFlag ? 'SAVING' : (submitButton ? submitButton : 'SALVAR'))  }}</span>
              <div *ngIf="loadingFlag">
                <mat-spinner [diameter]="16"></mat-spinner>
              </div>
            </div>
          </button>
        </ng-template>

        </div>
      </ng-container>
    </form>
  </div>
</div>
