.fields-margin {
  padding-bottom: 5%;
  margin-left: 200px;
  margin-right: 200px;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height : 100% !important;
}

.none-text {
  width: 100%;
  height: 100%;
  color: grey;
  font-size: 26px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.subtitle {
  font-size: 22px;
}

.description {
  font-size: 16px;
  line-break: auto;
}

.card-size {
  min-width: 300px;
}

.clickable {
  cursor: pointer;
}

.link-style {
  color: #007bff;
  text-decoration: underline;
}

.custom-border {
  border-color: #cacaca;
  border-style: solid;
  border-width: 0.5px;
}

.simple-margin {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-height {
  max-height: 100%;
}

.title-wrapper {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.grey-text {
  color: #808080;
}
